<h1><%= @listing.address %></h1>

<div id="photos">
  <% @listing.photos.each do |photo| %>
    <%= image_tag photo.picture.url(:thumb) %>
  <% end %>
</div>

<% if current_user.id == @listing.user_id %>
  <%= form_for [@user, @listing, @photo], remote: true, authenticity_token: true, html: { :multipart => true } do |f| %>
    <div class="form-group">
      <%= f.file_field :picture, class: 'form-control' %>
    </div>
    <%= f.submit 'Submit', class: 'btn btn-info' %>
  <% end %>
<% end %>
