<div class="row">
  <div class="col-md-5">
    <% if !@user.avatar_file_name.nil? %>
      <%= image_tag @user.avatar.url(:medium) %>
    <% end %>
  </div>
  <div class="col-md-7">
    <h2>Hi, I'm <%= @user.name %>!</h2>
    <h5>Member for <%= time_ago_in_words(@user.created_at) %></h5>
    <%= @user.bio %>
    <hr>
    <span class="glyphicon glyphicon-pencil"></span>
    <%= link_to 'Edit Profile', edit_user_registration_path %> |
    <span class="glyphicon glyphicon-plus"></span>
    <%= link_to 'New Listing', new_user_listing_path(current_user) %>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h2>Listings:</h2>
    <% @listings.each do |listing| %>
      <div class="user-listing">
        <span class="glyphicon glyphicon-home"></span>
        <%= link_to listing.address, user_listing_path(current_user, listing) %>
      </div>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2>Future Bookings</h2>
    <% @user.reservations.each do |reservation| %>
      <div class="user-reservation">
        <span class="glyphicon glyphicon-certificate"></span>
        <%= link_to reservation.listing.address, user_listing_path(reservation.user, reservation.listing) %>
        <span class="booking-dates"><%= reservation.checkin.strftime("%m/%d/%y") %> - <%= reservation.checkout.strftime("%m/%d/%y") %></span>
      </div>
    <% end %>
  </div>
</div>
