<nav class="navbar navbar-fixed-top navbar-default" role="navigation">
    <div class="container">
      <div class="naviHeader">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse navHeaderCollapse">
            <ul class="nav navbar-nav navbar-left">
              <li><a href="/"><img height="20" src="http://upload.wikimedia.org/wikipedia/commons/c/c4/Farm-Fresh_teddy_bear.png">Bear BNB</a></li>
            </ul>

            <%= form_tag "/search", method: "get", class: 'navbar-form navbar-left' do %>
              <%= text_field_tag :search, params[:search], class: 'form-control', placeholder: 'Search by city...' %>
              <%= submit_tag "Search", class: 'btn btn-s' %>
            <% end %>

            <ul class="nav navbar-nav navbar-right">
              <% if current_user %>
               <li><%= link_to current_user.name, user_path(current_user) %></li>
               <li><%= link_to 'Logout', destroy_user_session_path, method: 'delete' %></li>
              <% else %>
                <li><%= link_to 'Login', new_user_session_path %></li>
                <li><%= link_to 'Register', new_user_registration_path %><li>
              <% end %>
            </ul>
        </div>
      </div>
    </div>
  </nav>
